.mediaimage {
  display: inline-block;
  width: 31%;
  margin: auto;
  border-radius: 20px;
}

.section {
  display: flex;
  width: 100%;
}

.banner {
  width: 100%;
  background-color: red;
  text-align: center;
  margin: 1rem;
}
