.mediaimage {
  display: inline-block;
  width: 31%;
  margin: auto;
  border-radius: 20px;
}

.section {
  display: flex;
  width: 100%;
}

.banner {
  width: 100%;
  background-color: red;
  text-align: center;
  margin: 1rem;
  position: relative;
  padding: 10px;
  z-index: -1;
}

.banner h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.banner span {
  font-family: "Playfair Display", serif;
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: black;
}

.banner:hover span {
  animation: flip 3s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
