.section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.statistic {
  display: inline-block;
}

.whitebackground {
  color: black;
}

.social {
  text-align: center;
}
