.followers {
  margin-right: 10px;
  transform: translateY(8%);
}

.section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.statistic {
  display: inline-block;
  width: 25%;
}

.whitebackground {
  color: black;
}

.social {
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
}
