.box {
  margin: 1rem;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.section {
  display: flex;
  width: 100%;
}

.section.is-black {
  background-color: black;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 14pt;
  margin: 0% 10%;
  color: white;
  padding: 10px;
}

.blackbackground {
  font-family: "Playfair Display", serif;
  font-size: 32pt;
  color: white;
}
